* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.container {
  text-align: center;
}

.riga {
  margin: 15px;
}

.prodotti {
  display: inline-block;
  position: relative;
}

.etichetta {
  position: absolute;
  top: 0;
  right: 0;
}

.verde {
  background-color: green;
}

.rossa {
  background-color: red;
}

.cuore {
  color: red;
  font-size: 40px;
  position: absolute;
  left: 138px;
  bottom: 1%
}
