* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.container {
  text-align: center;
}

.riga {
  margin-bottom: 20px;
}

.prodotti {
  display: inline-block;
  position: relative;
}

.etichetta {
  position: absolute;
  top: 0;
  right: 0;
}

.verde {
  background-color: green;
}

.rossa {
  background-color: red;
}

.cuore {
  color: red;
  font-size: 40px;
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: none;
}

.prodotti:hover .cuore {
  display: block;
}
